*{margin:0px;padding:0px;  box-sizing: border-box;}
body{
    font-family: Arial, Helvetica, sans-serif;
}


h1{
    display: flex;
    justify-content: center;
    color:green;
    font-size: 45px;
    margin: 20px 0px;
}

.form-container{
    max-width:30%;
    padding:40px;
    margin:auto;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

form{
    display: flex;
    flex-direction: column;
}

form input,#role{
    max-width: 500px;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid grey;
}

#submit-btn{
    background-color:green;
    cursor:pointer
}

.user-anchor{
    text-align: center;
    font-size: 20px;
}


